body {
	background:  #060e1d;
	overflow: hidden;
	font-family: 'Varela Round', sans-serif;
	padding: 0;
	margin: 0;
}

.shredded-paper.animate { animation: shredShake 0.12s 26 0.3s; }
.shredded-paper.animate > div[class^='item-']:nth-of-type(2n) { animation: Animation1 3.6s 1 forwards 1s, shredGo 3.6s 1 forwards; }
.shredded-paper.animate > div[class^='item-']:nth-of-type(2n-1) { animation: Animation2 3.6s 1 forwards 1s, shredGo 3.6s 1 forwards; }
.shredded-paper.animate .content { animation: cover 3.6s 1 forwards; }

@keyframes shredGo {
	10% { top: 20px; }
	12% { top: 15px; }
	30% { top: 150px; }
	32% { top: 145px; }
	60% { top: 320px; }
	62% { top: 315px; }
	68% { top: 380px; }
	100% { top: 400px; }
}

@keyframes shredShake {
	50% { top: 0; } 
	100% { top: 4px; }
}

@keyframes cover {
	10% { height: calc(100% - 20px); top: 20px }
	12% { height: calc(100% - 15px); top: 15px; }
	30% { height: calc(100% - 150px); top: 130px; }
	32% { height: calc(100% - 145px); top: 125px; }
	60% { height: calc(100% - 260px); top: 250px; }
	100% { height: calc(100% - 260px); top: 250px; }
}

/* Rotate one way */
@keyframes Animation1 {
	20% { transform: scaleY(1.1) rotateX(5deg); }
	50% { transform: scaleY(1.1) rotateX(-5deg); top: 0; }
	90% { transform: scaleY(1.1) rotateX(10deg); top: 400px; }
	100% { transform: scaleY(1.1) rotateX(10deg); top: 1200px; }
}

/* Rotate the other */
@keyframes Animation2 {
	20% { transform: scaleY(1.1) rotateX(-5deg); }
	50% { transform: scaleY(1.1) rotateX(-5deg); top: 0; }
	90% { transform: scaleY(1.1) rotateX(-10deg); top: 400px; }
	100% { transform: scaleY(1.1) rotateX(-10deg); top: 1200px; }
}

.shredded-paper {
	width: 400px;
	height: 300px;
	position: absolute;
	perspective: 1000px;
	left: 525px;
    top: 0;
    margin-top: 2rem;
	z-index: 5;
}

.shredded-paper > div {
    font-size: 1.25rem;
    padding: 0.95rem 1.5rem;
    text-align: right;
}

.shredded-paper > div[class^='item-'] {
	height: 100%;
	width: 100%;
	box-shadow: inset 0 0 0 5px #d6ebf6;
	box-sizing: border-box;
	position: absolute;
	background: url(document.png);
	background-size: 100% auto;
	transform-style: preserve-3d;
	z-index: 99;
	top: 0;
	font-family: Lato, sans-serif;
}

.shredded-paper > .content {
	letter-spacing: 1.5px;
	background: url(document.png);
	height: 95%;
	background-size: 100%;
	box-sizing: border-box;
	box-shadow: inset 0 0 0 5px #d6ebf6;
	font-family: Lato, sans-serif;
	width: 100%;
	padding: 0.95rem 1.5rem;
	position: absolute;
	font-size: 1.25rem;
	transform: translateZ(180px) scale(0.84);
	top: 0;
	z-index: 9999;
	text-align: right;
}

.shredder-holder {
	position: relative;
	top: 350px;
	left: 500px;
	width: 450px;
}

.shredder {
	font-weight: bold;
	font-size: 1.7em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	padding: 33px 0;
	box-sizing: border-box;
	position: absolute;
	background: #FF0012;
	width: 100%;
	border-radius: 2px;
	height: 100px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
	z-index: 9999999;
	background: rgba(176, 189, 186, 1);
	text-align: center;
	color: #FFF;
}

.shredded-paper > .shred-me {
	font-weight: bold;
	background: linear-gradient(#092e4a, #031727);
	color: #FFF;
	cursor: pointer;
	transition: all 0.1s ease-out;
	width: calc(100% + 70px);
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	box-shadow: 0 10px 30px rgba(0,0,0,0.2);
	padding: 1rem 0;
	font-size: 1.5rem;
	border-radius: 8px;
	left: -35px;
	z-index: 9999;
	position: absolute;
	top: 266px;
}

.shred-me:hover {
	background: linear-gradient(#0f4065, #072944);
	transform: scale(1.02);
}

.shred-me:active { box-shadow: inset 0 2px 10px rgba(0,0,0,0.3); }
